<!doctype html>
<html>
    <head>
        <title>Chap 3</title>
    </head>
    <body>
    	<header><img src="/img/logo.jpg" alt="" style="width:50%;margin:auto"></header>
        {{{body}}}
    </body>
</html>
